@import 'normalize.css';
@import url("https://use.typekit.net/gex7ewv.css");

:root {
	--alto: #eff2f7;
	--gun: #494949;
	--coal: #1E2021;
	--spear: #00C853;
	--grass: #12773C;
}

* {
  box-sizing: border-box;
}

html {
	font-size: 100%;
	width: 100%;
	height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 1.6;
	scroll-behavior: smooth;
  font-weight: 400;
  font-family: muli, sans-serif;
	backface-visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
	background: var(--alto);
	user-select: none;
}

#app {
	position: relative;
	background: var(--coal);
	color: white;
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	@media(min-width: 480px) {
		width: 40vh;
		height: 80vh;
	}
}

main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

h1 {
	margin: 0;
	font-weight: bold;
	font-size: 1.4em;
	margin-top: 2.8em;
	text-align: center;
}